# mysql pass and user
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=root

# name of database
MYSQL_AUTH_DB=authbd
MYSQL_MEMBERSHIP_DB=membershipbd
MYSQL_NOTIFICATIONS_DB=
MYSQL_RESERVATION_DB=
MYSQL_SPACES_DB=
MYSQL_INVOICE_DB=

# ports for mysql
MYSQL_AUTH_PORT=
MYSQL_MEMBERSHIP_PORT=
MYSQL_NOTIFICATIONS_PORT=
MYSQL_RESERVATION_PORT=
MYSQL_SPACES_PORT=
MYSQL_INVOICE_PORT=

# ports for services
EUREKA_PORT=
GATEWAY_PORT=
AUTH_PORT=
MANAGEMENT_PORT=
MEMBERSHIP_PORT=
SPACES_PORT=
NOTIFICATIONS_PORT=
RESERVATION_PORT=
INVOICE_PORT=

# auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
